@font-face {
    font-family: "nexalight";
    src: url(/font/nexalight.otf);
}

@font-face {
    font-family: "nexabold";
    src: url(/font/nexabold.otf);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Open Sans, -apple-system, system-ui, sans-serif;
}


/* Menubalk */


nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.9px 5px 0 rgba(0, 0, 0, 0.2);
}

header nav li a {
    font-family: nexabold;
    color: #00D66C;
    text-decoration: none;
}

header form {
    bottom: 0;
    padding: 1em;
}

li {
    list-style: none;
    padding: 1em;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}


/* main */

main {
   background-color: #F4E6D8;
}

main h1 {
    padding: 1em;
    text-align: center;
    
}

main h2 {
    padding: 1em 1em;
}

/* gridje */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}


/* Media Queries */

@media screen and (max-width: 745px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    article {
        max-width: 100%;
    }
    main h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* artikelen */

article {
    margin: 1em;
    max-width: 30em;
    text-align: center;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.75em;
    background-color: #F9F8F8;
}


/* afbeelding artikelen */

article img {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.75em 0.75em 0 0;
}


/* inhoud artikelen */

article h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

article p {
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}

article footer p {
    text-align: center;
}

button {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    text-decoration: none;
}


/* Login form */

main form {
    margin: 1em;
    max-width: 30em;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

main label {
    display: block;
    padding: 0.5em;
}

main form input:invalid {
    background: #FF0000;
    transition: 1s;
}

main form input:valid {
    background: #00D66C;
    transition: 1s;
}