/* Lettertype */

@font-face {
    font-family: "nexalight";
    src: url(../font/nexalight.otf);
}

@font-face {
    font-family: "nexabold";
    src: url(../font/nexabold.otf);
}

/* css standaardwaarden */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Wanneer het font niet ingeladen kan worden gebruik deze systeem lettertypes */

* {
    font-family: Open Sans, -apple-system, system-ui, sans-serif;
}


/* Menubalk */

nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    font-size: 1.1em;
    display: flex;
}

header nav li a {
    font-family: nexabold;
    color: #00D66C;
    text-decoration: none;
}

header form {
    bottom: 0;
    padding: 1em;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
}

header form button {
    padding: 1em;
    border-radius: 2em;
    font-family: inherit;
    background-color: #4CAF50;
    text-decoration: #FFFFFF;
    float: right;
}

header form input {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    border: none;
    border-bottom: 2px solid grey;
    pointer-events: none;        /* Dit zorgt ervoor dat het zoekveld nog niet klikbaar is */
    
}

header form input.visible {
    width: 100%;
    opacity: 1;
    white-space: nowrap;
    margin-top: 0.1em;
    padding: 0.5em 1em 0.5em 1em;
    font-family: inherit;
    font-size: 1.3em;
    color: #4CAF50;
    border: none;
    border-bottom: 0.1em solid #4CAF50;
    pointer-events: all;
}

header form input:focus {
    border: none;
    border-bottom: 1px #4CAF50;
}

li {
    list-style: none;
    padding: 1em;
    white-space: nowrap;
}

nav ul {
    display: flex;
}


/* main */

main {
    background-color: #F4E6D8;
    padding: 1em;
}

main h1 {
    padding: 1em;
    text-align: center;
}


/* gridje */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: auto;
}


/* artikelen */

article {
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.75em;
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
}


/* afbeelding artikelen */

article img {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.75em 0.75em 0 0;
}


/* inhoud artikelen */

article h2 {
    font-size: 1.4em;
    font-weight: 700;
    padding: 0.5em;
}

article p {
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}

article footer p {
    text-align: center;
}

article a {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
}


/* zorgt ervoor dat alle ruimte wordt gebruikt */

.details {
    flex: 1;
}


/* Login form */

main form {
    margin: 1em;
    max-width: 30em;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

main label {
    display: block;
    padding: 0.5em;
}

main form input:invalid {
    border: 2px solid red;
    border-radius: 2px;
    transition: 1s;
}

main form input:valid {
    background: #00D66C;
    transition: 1s;
}

/* Detailpagina */

.reisdetail {
    max-width: 48em;
    margin: 0 auto;
}

.reisdetail h2 {
    margin: 1em;
}


/* Media Queries */

@media screen and (max-width: 40em) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    article {
        max-width: 100%;
        align-items: unset;
    }
    main h2 {
        text-align: center;
    }
    nav {
        display: block;
    }
}

@media screen and (max-width: 75em) and (min-width: 40em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Credits: 

- Jari Zwarts voor uitleg over Javascript en Semantische tips
- Jan Willem Nes voor het helpen met de styling voor van het zoekveld
- Steven Whitton
- Patrick van der Veldt
- W3Schools Forms uitleg (https://www.w3schools.com/css/css_form.asp)
- Mozilla MDN
*/