/* Lettertype */

@font-face {
    font-family: "nexalight";
    src: url(../font/nexalight.otf);
}

@font-face {
    font-family: "nexabold";
    src: url(../font/nexabold.otf);
}

/* css standaardwaarden */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Wanneer het font niet ingeladen kan worden gebruik deze systeem lettertypes */

* {
    font-family: Open Sans, -apple-system, system-ui, sans-serif;
}


/* Menubalk */

nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    font-size: 1.1em;
}

header nav li a {
    font-family: nexabold;
    color: #00D66C;
    text-decoration: none;
}

header form {
    bottom: 0;
    padding: 1em;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
}

header form button {
    padding: 0.3em;
    font-family: inherit;
    text-align: left;
    background-color: #4CAF50;
    text-decoration: #FFFFFF;
}

header form input {
    width: 0;
    opacity: 0;
    transition: all 1s;
}

header form input.visible {
    width: 100%;
    opacity: 1;
    white-space: nowrap;
}

li {
    list-style: none;
    padding: 1em;
    white-space: nowrap;
}

nav ul {
    display: flex;
}


/* main */

main {
    background-color: #F4E6D8;
}

main h1 {
    padding: 1em;
    text-align: center;
}


/* gridje */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: auto;
}


/* artikelen */

article {
    margin: 1em;
    text-align: center;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.75em;
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* afbeelding artikelen */

article img {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.75em 0.75em 0 0;
}


/* inhoud artikelen */

article h2 {
    font-size: 1.4em;
    font-weight: 700;
    padding: 0.5em;
}

article p {
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}

article footer p {
    text-align: center;
}

article button {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
}


/* zorgt ervoor dat alle ruimte wordt gebruikt */

.details {
    flex: 1;
}


/* Login form */

main form {
    margin: 1em;
    max-width: 30em;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

main label {
    display: block;
    padding: 0.5em;
}

main form input:invalid {
    border: 2px solid red;
    border-radius: 2px;
    transition: 1s;
}

main form input:valid {
    background: #00D66C;
    transition: 1s;
}


/* Media Queries */

@media screen and (max-width: 40em) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    article {
        max-width: 100%;
        align-items: unset;
    }
    main h2 {
        text-align: center;
    }
    nav {
        display: block;
    }
    header form {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 75em) and (min-width: 40em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}